
@{
    ViewBag.Title = "GelenKutusu";
    //Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<h2>GelenKutusu</h2>
<form>
    <table class="table table-borderless">
        <tr>
            <td>
                <div class="pull-left alert alert-primary" role="alert">
                    <b>hilal:</b> A simple primary alert—check it out!
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="pull-right alert alert-secondary" role="alert">
                    <b>fatmagül:</b> A simple primary alert—check it out!
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <div class="row">
                        <label for="exampleFormControlTextarea1">Mesaj:</label>
                        <textarea class="form-control" id="mesaj" rows="3" placeholder="Mesajınızı yazınız..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="form-control btn btn-success">Gönder</button>
                </div>
            </td>
        </tr>
    </table>
</form>