
@{
    ViewBag.Title = "Hakkimizda";
}

<h2>Hakkımızda</h2>

<p>
    Siteye giriş yapan kişiler hayvanlarının bilgilerini, hayvanlarının sahiplenilmesi için sitede yayınlayacaktır. Hayvan sahiplenmek isteyenler, hayvan sahiplerinin profillerini görüntüleyebilecek,  site üzerinden mesajlaşma yoluyla iletişime geçip hayvanları sahiplenebilecektir.
    Hayvanlarının geçici konaklamasını isteyen kullanıcılar site üzerinden konaklama hizmeti veren mekanları veya bireyleri hayvan kategorisine göre aratıp görüntüleyerek randevu alabilecekler, site üzerinden bu hizmete karşılık ödeme yapabileceklerdir.
    Sitede hayvanına bakım yaptırmak isteyen kullanıcılar, hayvan kategorisini seçerek ilgili kurumları görüntüleyip   kurumun doluluk durumuna göre randevu alabilecektir.
    Sitede hayvanının tedavi ettirmek isteyen kullanıcılar, tedavi hizmetini seçtikten sonra hayvan kategorisini seçerek ilgili hastaneleri görüntüleyebilecektir. Doluluk durumuna göre randevu alabilecektir.
    Bakım ve konaklama ücretli hizmetler olup hayvan sahiplenme hizmeti ücretsizdir. Ödemeler kurumlara bizzat yapılacaktır fakat konaklama ödemesi istenilirse web üzerinden de yapılabilecektir.
</p>

<img src="http://storage.kucukoteller.com.tr/images/159ddfb5b6c501edefb76f9a9d2a965c0c9b5c0b.jpg" width="500px" height="350px" />
<img src="https://blog.mngturizm.com/wp-content/uploads/2017/05/evcil-hayvan-dostu-oteller.jpg" width="500px" height="350px" /> 